<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Temple</title>
	<link rel = "stylesheet" href = "{{url_for('static',filename = 'css/my.css')}}">
        <link rel = "stylesheet" href = "{{url_for('static',filename = 'css/bootstrap.min.css')}}">
        <link rel = "stylesheet" href = "{{url_for('static',filename = 'css/mdb.min.css')}}">
        <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header>
   <nav class="navbar navbar-dark ">
    <a class="navbar-brand" href="http://www.1point3acres.com/bbs/">
        <img src="{{url_for('static',filename='images/logo.png')}}" >
    </a>
   <ul class="nav navbar-nav navbar-right" style=" display: inline-block">
    
             
      <a href="{{ url_for('logout')}}"><button type="button" class="btn btn-primary">Log out</button></a>


   </ul>
  </nav>

</header>
<body>
<!--Pagination-->
{% block body %}
   dashboard
{% endblock %}
 <script type="text/javascript" src="{{url_for('static',filename = 'js/jquery-3.2.1.min.js')}}"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="{{url_for('static',filename = 'js/popper.min.js')}}"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="{{url_for('static',filename = 'js/bootstrap.min.js')}}"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="{{url_for('static',filename = 'js/mdb.min.js')}}"></script>

</body>
</html>

