{% extends "header.html" %}
{% import "bootstrap/wtf.html"  as wtf%}
<header>
	 <a href="/dashboard/"><button type="button" class="btn btn-primary">dashboard</button></a>  
</header>>
{% block body %}

<form method="post" action="/messages/">
	<div class="form-group">
		<label for="title">Title: </label>
		<input type="text" name="title" class="form-control" id="title">
	</div>
	<div class="form-group">
		<label for="content">Content: </label>
		<textarea class="form-control md-textarea" rows="3"  name="content" id="content"></textarea> 

	</div>
     <button type="submit" class="btn btn-primary"> Submit</button>
</form>

{% endblock %}